@model CourseEnrollment
@{
    var isEdit = Model.StudentId != 0;
    var save = ViewNames.Save;
}

<h2>Add Course</h2>

@using (Html.BeginForm(ViewNames.Save, ViewNames.Course, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @if (isEdit)
    {
        @Html.HiddenFor(model => model.StudentId)
        @Html.HiddenFor(model => model.CourseId)
    }

    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.CourseName)
        @Html.TextBoxFor(model => model.CourseName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CourseName)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CourseUnit)
        @Html.TextBoxFor(model => model.CourseUnit, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CourseUnit)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ProzessGrade)
        @Html.TextBoxFor(model => model.ProzessGrade, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ProzessGrade)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ComponentGrade)
        @Html.TextBoxFor(model => model.ComponentGrade, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ComponentGrade)
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}
