@model CourseEnrollment

<h2>Add Course</h2>

@using (Html.BeginForm("Create", "Course", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.StudentId)
    <div class="form-group">
        @Html.LabelFor(model => model.CourseName)
        @Html.TextBoxFor(model => model.CourseName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CourseName)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CourseUnit)
        @Html.TextBoxFor(model => model.CourseUnit, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CourseUnit)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ProzessGrade)
        @Html.TextBoxFor(model => model.ProzessGrade, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ProzessGrade)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ComponentGrade)
        @Html.TextBoxFor(model => model.ComponentGrade, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ComponentGrade)
    </div>
    <button type="submit" class="btn btn-primary">Speichern</button>
}
