@model StudentDetailsViewModel

<h2>Studentdetails</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Name:
        </dt>
        <dd class="col-sm-10">
            @Model.Student.Name
        </dd>
        <dt class="col-sm-2">
            Geschlecht:
        </dt>
        <dd class="col-sm-10">
            @Model.Student.Sex
        </dd>
        <dt class="col-sm-2">
            Geburtsdatum:
        </dt>
        <dd class="col-sm-10">
            @Model.Student.BirthDate.ToString("dd.MM.yyyy")
        </dd>
        <dt class="col-sm-2">
            Klasse:
        </dt>
        <dd class="col-sm-10">
            @Model.Student.ClassName
        </dd>
        <dt class="col-sm-2">
            Studienjahr:
        </dt>
        <dd class="col-sm-10">
            @Model.Student.StudyYear
        </dd>
    </dl>
</div>

<div>
    <h4>Course</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Units</th>
                <th>Prozess Grade</th>
                <th>Component Grade</th>
                <th>Final Grade</th>
                <th>Is Course Passed?</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var courseEnrollment in Model._CourseEnrollments)
            {
                <tr>
                    <td>@courseEnrollment.CourseName</td>
                    <td>@courseEnrollment.CourseUnit</td>
                    <td>@courseEnrollment.ProzessGrade</td>
                    <td>@courseEnrollment.ComponentGrade</td>
                    <td>@courseEnrollment.finalGrade</td>
                    <td>@courseEnrollment.isPassed</td>
                    <td>
                        <a href="@Url.Action(ViewNames.Edit, ViewNames.Course, new { studentId = Model.Student.StudentId, courseId = course.CourseId })" class="btn btn-info">Edit</a>
                        @using (Html.BeginForm(ViewNames.Delete, ViewNames.Course, new { studentId = Model.Student.StudentId, courseId = course.CourseId }, FormMethod.Post))
                        {
                            <button type="submit" class="btn btn-danger">Delete</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a href="@Url.Action(ViewNames.Create, ViewNames.Course, new { studentId = Model.Student.StudentId})" class="btn btn-primary">Add New Course Detail</a>
    <a href="@Url.Action(ViewNames.Add, ViewNames.Course, new { studentId = Model.Student.StudentId})" class="btn btn-primary">Add New Course</a>
</div>

<a href="@Url.Action("Index", "Student")">Return</a>
